@import "tailwindcss";

:root {
  --background: #ffccb6;
  --foreground: #616d48;
  --primary: #616d48;
  --accent: #fa9b71;
  --light-bg: #fff5f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4a5238;
    --foreground: #ffccb6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos de placeholders */
input::placeholder,
textarea::placeholder {
  color: #fa9b71 !important;
  opacity: 1 !important;
}
